/*!--ベース--*/

//変数
$base: #F1FFDB; //薄いグリーン
$sub1: #408100; //グリーン
$sub2: #7A7A7A; //グレー
$accent: #FFF; //白

$pc: "(min-width: 769px)";


//　ベーススタイル

* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
    font-weight: normal;
  }

html {
    font-size: 62.5%;
}

body {
    font: {
        family: 'メイリオ', 'Meiryo', sans-serif;
        size: 1.4rem;
        weight: 400;
    };
    line-height: 1;
    color: $sub2;
    background-color: $base;
    @media (min-width: 769px) {
        font-size: 1.6rem;
    }
}

a {
    color: $sub2;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
  
li {
  list-style-type: none;
}

main {
  padding: 2rem;
  max-width: 128rem;
  margin: 0 auto;
}

footer {
  height: 3rem;
  text-align: center;
}

.fade_in {
  opacity: 0;
  transform: translateY(-5rem);
  transition: 2s;
}
.fade_in.show{
  opacity:1;
  transform:none;
}