/*!--会社情報--*/

.company {
    margin: 2rem auto;
}

.comtitle h2{
    font-size: 1.9rem;
}

.comimg{
    margin: 1.5rem 0;
    width:100%;
}

.comcontent{
    display: grid;
    align-items: center;
    grid-template-columns: calc((100% - 20px) / 2) calc((100% - 20px) / 2);
    gap: 2rem;
    div {
        width: 100%;
        text-align: center;
    }
    iframe {
        width: 100%;
    }
}

.comdis{
    margin : 0 auto;
    max-width: 40rem;
    background-color: white;
    padding: 1rem;
    font-size: 1.2rem;
    box-shadow: 5px 5px 5px $sub2;
    :nth-child(-n+2) {
        margin-bottom: 1rem;
    }
    h3 {
        font-size:1.6rem;
    }
}

.company .snsaccount{
    font-size: 2.5rem;
    li{
        padding: 0;
        margin: 0;
    }
}



@media #{$pc} {

    .bottomcom{
        display:none;
    }

    .comtitle h2{
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }

    .comimg {
        margin: 0 1rem 0 0;
        iframe{
            width: 75rem ;
            min-height: 40rem;
            margin:0 auto;
        }
    }

    .comcontent {
        display: flex;
        justify-content: center;
    }

    .comdis {
        font-size: 1.8rem;
        padding: 1.5rem;
        h3 {
            font-size: 2.2rem;
        }
    }
    .company .snsaccount{
        font-size: 3rem;
        li{
            padding: 0;
            margin: 0;
        }
    }
    
}