
/*! -- ショップ　--*/

.shop .footer-body {
    background-color: $accent1;
    padding: 0 2rem;
    @media (min-width: 769px) { 
        padding: 5rem 0;
        text-align: center;
    }
}

.shop .info-list {
    @media (min-width: 769px){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
        margin: 2rem 0;
    }
}


.address-number {
    margin-right: 1.6rem;
    padding-bottom: 1rem;  //追加

}

.shop .section-heading {
    padding: 5rem 2rem 0;
        @media (min-width: 769px){
            padding: 5rem 14.3rem 0;
        }
}

.footer-body img {
    padding: 1.7rem 0;
    width: 8.8rem;
    height: 1.9rem;
    @media (min-width: 769px){
        height: 3.1rem;
        width: 14.6rem;
        padding: 0;
    }

}

.google-map {
  height: 20rem;
  background-image: url("../images/shop/shinjuku-free.png");
  background-position: center center;
  background-size: cover;
    @media (min-width: 769px) {
        height: 40rem;
    }
}