//カルーセルのスタイル

/*!-- カルーセル --*/

.carousel_cover{
    position: relative;
}

ul.slick-dots{
    position: absolute;
    bottom: 1.6rem;
    & li button:before{
        color:$base;
        opacity: 1;
    }
    & li.slick-active button:before{
        color: $accent1;
        opacity: 1;
    }
}


li.slick-active {
    color: $accent1;
}


//カルーセルのドット下マージンをキャンセル
.carousel.slick-initialized.slick-slider.slick-dotted{
    margin-bottom: 0;
}

//カルーセル上のテキスト
.catch {
    font-family: 'Roboto Condensed';
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    color: $base;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.catch-copy {
    font: {
        size: 3.2rem;
        weight: 700;
    }
    margin: 2rem 0;

    @media("min-width:769px") {
        font-size: 8rem;
    }

}

.sub-catch {
    font: {
        size: 2.4rem;
        weight: 700;
    }
    margin: 0;
    @media("min-width:769px") {
        font-size: 4.8rem;
    }
}
