//インフォメーション

/*!-- インフォメーション --*/

.information {
    padding: 5rem 1rem;
    @media (min-width: 769px){
        padding: 12rem 13rem 0;
    }
}

.page-information {
    padding: 5rem 1rem 0;
    @media (min-width: 769px){
        padding: 0 9rem 0 0;
        width: 80%;
    }
    
}

.information .section-heading {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
//    align-items:flex-end;
    padding: 0 1rem;
    @media (min-width: 769px) { 
        justify-content: flex-start;
    }

}

// セクション見出し

.section-title {
    margin: 0;
    font:{
        family: "Roboto Condensed";
        size: 2.8rem;
        weight: 700
    };
    @media (min-width: 769px) { 
        font-size: 3.6rem;
        margin-right: 1.8rem;
    }
}



.view-all {
    font-size: 1.6rem;
    color: $accent1;
}

.info-box {
    width: 44%;
    margin: 0 1rem 2rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 10%);
    @media (min-width: 769px) { 
        width: calc((100% - 80px) / 4);
    }
}

.info-body img{
    @media(min-width:769px){
        width: 100%;
    }
}

.page-info-box {
    width: calc((100% - 40px) / 2);;
    margin: 0 1rem 2rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 10%);
    @media (min-width: 769px) { 
        width: calc((100% - 40px) / 3);
        margin: 0 2rem 2rem 0;
        &:nth-of-type(3n) {
            margin: 0 0 2rem;
        }
    }
    
}


.date {
    padding: 1.6rem 1.6rem 1rem;
    margin: 0;
    font:{
        size: 1.2rem;
        weight: bold;
    }
    color: $sub2;
    @media (min-width: 769px) { 
        font-size: 1.4rem;
    }
}

.info-text {
    padding: 0 1.6rem 1.6rem;
    margin: 0;
    line-height: 2.38rem;
    font: {
        size: 1.4rem;
        weight: normal;
    }
    color:$sub1;
    @media (min-width: 769px) { 
        font-size: 1.6rem;
    }
}


