/*!-下部ページのカバー--*/

.page-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 13rem;
    padding-bottom: 8rem;
    @media (min-width: 769px){
        padding-top: 20rem;
        padding-bottom: 13.5rem;

    }
    color: $base;
} 

#info {
    background: {
        image: url("../images/cover/cover_info.jpg");
        size: cover;
        position: center;
    };
}

#about {
    background: {
        image: url("../images/cover/cover_about.jpg");
        size: cover;
        position: center;
    };
}

#menu {
    background: {
        image: url("../images/cover/cover_menu.jpg");
        size: cover;
        position: center;
    };
}


.page-cover-title {
    margin: 0;
    font: {
        size: 4rem;
        weight: 700;
        family: "Roboto Condensed";
    };
    @media (min-width: 769px){
        font-size: 8rem;
    }
}